.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
}

#portfolio-heading-row {
	margin-left: 0;
	margin-right: 0;
}

#about-and-footer-sections-placeholder {
	height: 1px;
}

.header-enter {
  opacity: 0.01;
}

.header-enter.header-enter-active {
  opacity: 1;
  transition: opacity 750ms ease-in;
}

.loader {
  position: absolute;
  left: 45%;
  top: 45%;
  height: 48px;
}

.portfolio-image img {
  width: 100%;
  overflow: hidden;
}

.frontOfCard {
  border: 1px solid #f7f7f7;
}

.thumbnail {
  border-radius: 0;
}

.thumbnail .caption {
  height: 100%;
}
